.Loader {
  width: var(--layout-dimension-small);
  height: var(--layout-dimension-small);
  border-radius: var(--layout-dimension-small);
  border: solid transparent;
  border-top: var(--layout-border-medium) solid var(--color-background-button);
  animation: var(--animation-loader);
}

@keyframes spin {
  0% {
    transform: rotate(var(--values-degrees-none));
  }
  100% {
    transform: rotate(var(--values-degrees-full));
  }
}
