.SongList-navigation {
  align-self: flex-start;
}

.SongList-list {
  width: var(--layout-dimension-list);
  padding: var(--layout-spacing-small);
  border-radius: var(--layout-radius-small);
}

.SongList-list--results {
  background-color: var(--color-background-results);
}

.SongList-list--playlist {
  background-color: var(--color-background-playlist);
}
