.SongList-navigation {
  align-self: flex-start;
}

.SongList-list {
  width: var(--layout-dimension-list);
  border: var(--layout-border-medium) solid;
  border-radius: var(--layout-radius-small);
}

.SongList-list--results {
  border-color: var(--color-background-results);
}

.SongList-list--playlist {
  border-color: var(--color-background-playlist);
}
