.TextField {
  display: flex;
  align-items: center;
  position: relative;
}

.TextField-input--search {
  margin-bottom: var(--layout-spacing-large);
}

.TextField-input--playlist {
  border-radius: 0;
  border-bottom-width: var(--layout-border-small);
  background-color: transparent;
}

.TextField-clear {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: var(--layout-spacing-medium);
  top: var(--layout-spacing-large);
  height: var(--layout-dimension-tiny);
  width: var(--layout-dimension-tiny);
  border-radius: calc(var(--layout-dimension-tiny) / 2);
}

@media (max-width: 768px) {
  .TextField-input--playlist {
    width: 100%;
  }
}
