.Track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--layout-spacing-large);
  background-color: var(--color-background-track);
}

.Track--highlighted {
  background-color: var(--color-background-track-highlighted);
  color: var(--color-text-inverse);
}

.Track-artwork-container {
  display: flex;
  width: var(--layout-dimension-thumbnail);
}

.Track-artwork {
  width: 100%;
  border-radius: var(--layout-radius-medium);
}

.Track-metadata {
  width: var(--layout-dimension-metadata);
  margin-left: var(--layout-spacing-small);
  margin-right: var(--layout-spacing-small);
}

.Track-name {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
}

.Track-content {
  display: flex;
  justify-content: center;
  height: var(--layout-dimension-tiny);
}

.Track-popularity {
  margin-left: var(--layout-spacing-medium);
}

@media (max-width: 768px) {
  .Track {
    flex-direction: column;
  }
}
